[submodule "crates/minecraft-protocol"]
	path = crates/brine_proto_backend/test/minecraft-protocol
	url = https://github.com/BGR360/minecraft-protocol.git
	branch = my-fork
[submodule "third_party/stevenarella"]
	path = third_party/stevenarella
	url = ../stevenarella
